@media (max-width: 1100px)
{
    .palettes
    {
        grid-template-columns: repeat(2, 45%)  !important;
        gap: 2.5rem !important;
    }
}
@media (max-width: 700px)        
{
    .palettes
    {
        grid-template-columns: repeat(1, 100%) !important;
        gap: 2rem !important;
    }
}

.fade-exit
{
    opacity: 1;
}
.fade-exit-active
{
    opacity: 0;
    transform: scale(0.01);
    transition: all 1000ms ease-in-out;
}