.App {
  text-align: center;
  overflow: auto;
}


.fade-route-enter
{
  opacity: 0;
}
.fade-route-enter-active
{
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-route-exit
{
  
  opacity: 1;
}
.fade-route-exit-active
{
  
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.page
{
  height: 100vh;
  position: fixed;
  width: 100%;
}