.ColorBox
{
    width: 20%;
    height: 25%;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: -4px;
    /* margin-bottom: 0; */
}

.copy-button, .back-button
{
    width: 100px;
    height: 30px;
    position: absolute;
    display: inline-block;
    top: calc(50% - 15px);
    left: calc(50% - 50px);
    text-align: center;
    outline: none;
    background: rgba(255,255,255, 0.3);
    font-size: 1rem;
    line-height: 30px;
    color: white;
    text-transform: uppercase;
    border: none;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}
.copy-button
{    
    opacity: 0;
}

.ColorBox:hover .copy-button
{
    opacity: 1;
}

.box-content
{
    position: absolute;
    padding: 10px;
    left: 0;
    bottom: 0;
    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.75rem;
}
.see-more
{
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(255,255,255, 0.3);
    border: none;
    color: white;
    height: 30px;
    width: 60px;
    line-height: 30px;
    text-transform: uppercase;
}




.copy-overlay
{
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: transform .6s ease-in-out;
    transform: scale(0.1);
}
.copy-overlay.show
{
    opacity: 1;
    transform: scale(10);
    z-index: 10;
    position: absolute;
}
.copy-msg
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    transform: scale(0.1);
    opacity: 0;
    color: white;
    z-index: -1;
    text-align: center;
}
.copy-msg.show
{
    opacity: 1;
    transform: scale(1);
    z-index: 25;
    transition: all 0.4s ease-in-out;
    transition-delay: 0.3s;
}

.copy-msg h1
{
    font-weight: 400;
    text-shadow: 1px 2px black;
    background: rgba(255,255,255, 0.3);
    width: 100%;
    display: block;
    margin-bottom: 0;
    padding: 1rem;
    text-transform: uppercase;
}

.copy-msg p
{
    font-size: 2rem;
    font-weight: 100;
}

.ColorBox.go-back
{
    background-color: black;
    color: white;
}

.light-text
{
    color: white;
}
.dark-text
{
    color: rgba(0,0,0, 0.6);
}

.copy-msg h1.dark-text
{
    text-shadow: none;
}