.ColorNameForm
{
    margin-top: 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}
.ColorPickerForm-container .chrome-picker
{
    width: 95% !important;
    margin: auto;
}

.ColorPickerForm-container .MuiOutlinedInput-root
{
    background-color: lightgray;
}