.Palette
{
    height: 100vh;
    overflow: hidden;
}
.Palette-colors
{
    height: 90%;
}

.Palette-footer
{
    background-color: white;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    gap: 0.6rem;
    font-weight: bold    
}

.Palette-footer .emoji
{
    font-size: 1.5rem;
}

@media (max-width: 900px)
{
    .Palette
    {
        overflow-y: visible;
    }
}